name: Build

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  plugin_test:
    name: asdf plugin test
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - macos-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install dependencies (Ubuntu)
        if: runner.os == 'Linux'
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake libtool build-essential libleptonica-dev
      - name: Install dependencies (macOS)
        if: runner.os == 'macOS'
        run: brew install autoconf automake libtool leptonica
      - name: Get latest version
        id: latest
        run: |
          version=$(git ls-remote --tags --refs https://github.com/agl/jbig2enc | grep -o 'refs/tags/.*' | cut -d/ -f3 | sort -V | tail -n1)
          echo "version=$version" >> "$GITHUB_OUTPUT"
      - name: asdf_plugin_test
        uses: asdf-vm/actions/plugin-test@v4
        with:
          command: jbig2 --help
          version: ${{ steps.latest.outputs.version }}
